td {
  border: 1px solid #141c3a;
  width: 30px;
  height: 30px;
  text-align: center;
  user-select: none;
  font-weight : bold;

}

.right-border {
  border-right: 3px solid #141c3a;
}

.bottom-border {
  border-bottom: 3px solid #141c3a;
}

.cell-modifiable{
  cursor: pointer;
  color: blue;
}

.cell-invalid {
  background-color: #ff000054;
}

.cell-hinted{
  color: orange;
  animation-name: hintAnimation;
  animation-duration: 2s;
  animation-timing-function: ease-out;
}

@keyframes hintAnimation {
  from {background-color: orange;}
  to {background-color: initial;}
}